.box{
    height: 100px;
    width: 100px;
    background-color: black;
}

.main_container{
    height:1000px;
flex-shrink: 0;
border-radius: 67px;
background: #F5E6E8;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}