<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="signup.css" />
  </head>
  <body>
    <div class="signup">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="format">
            <img class="es-removebg-preview" src="https://c.animaapp.com/04ct86hS/img/es-removebg-preview-2.svg" />
          </div>
          <div class="rectangle"></div>
          <div class="group">
            <div class="text-wrapper">Email :</div>
            <div class="div">Password :</div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
          </div>
          <div class="text-wrapper-2">Sign - up</div>
          <div class="rectangle-4"></div>
          <div class="text-wrapper-3">Continue</div>
          <div class="dropdown">
            <button class="dropbtn">Select User Type</button>
            <div class="dropdown-content">
              <a href="#">Student</a>
              <a href="#">Teacher</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
