<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/studentlogin.css') }}" />
  </head>
  <body>
    <div class="student-login">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <img class="es-removebg-preview" src="static/assests/EduScan-logo.png" />
          <div class="text-wrapper">EduScan</div>
          <div class="overlap">
            <div class="rectangle"></div>
            <div class="group">
              <div class="div"></div>
              <form action="{{ url_for('studentlogin') }}" method="POST">
              <div class="text-wrapper-2">Username :</div>
              <div class="text-wrapper-3">Student Login</div>
              <div class="text-wrapper-4">Password :</div>
              <input type="text" class="rectangle-2" name="username"></input>
              <input type="password" class="rectangle-3" name="password"></input>
              <div class="text-wrapper-5">Remember Me</div>
              <div class="text-wrapper-6">Forgot Password?</div>
              <input class="rectangle-4"></input>
              <div class="text-wrapper-7"><button type="submit"style="color:#f5e6e8">Login</button></div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
