<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/teacherlogin.css') }}" />
  </head>
  <body>
    <div class="teacher-login">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <img class="es-removebg-preview" src="https://c.animaapp.com/GWjzYLUB/img/es-removebg-preview-1@2x.png" />
          <div class="text-wrapper">EduScan</div>
          <div class="rectangle"></div>
          <div class="div"></div>
          <img class="es-removebg-preview" src="https://c.animaapp.com/GWjzYLUB/img/es-removebg-preview-1@2x.png" />
          <div class="text-wrapper">EduScan</div>
          <div class="rectangle"></div>
          <div class="text-wrapper-2">Forgot Password?</div>
          <div class="text-wrapper-3">Teacher Login</div>
          <div class="text-wrapper-4">Email :</div>
          <div class="text-wrapper-5">Email :</div>
          <div class="text-wrapper-6">Password :</div>
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
          <div class="text-wrapper-7">Remember Me</div>
          <div class="rectangle-5"></div>
          <div class="text-wrapper-8">Login</div>
        </div>
      </div>
    </div>
  </body>
</html>
