<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/welcome.css') }}" />
  </head>
  <body>
    <div class="login-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <p class="text-wrapper">Sign in to your account</p>
            <div class="group">
              <div class="div">
                <div class="rectangle"></div>
                <div class="text-wrapper-2">Student</div>
              </div>
              <div class="overlap-2">
                <div class="rectangle-2"></div>
                <div class="text-wrapper-3">Teacher</div>
              </div>
            </div>
            <div class="new-to-eduscan">New to EduScan? <br />SignUp</div>
          </div>
          <div class="group-2">
            <div class="smart-attendance-for">Smart <br />Attendance<br />for Smarter Education</div>
            <img class="es-removebg-preview" src="https://c.animaapp.com/GWjzYLUB/img/es-removebg-preview-1@2x.png" />
            <div class="text-wrapper-4">EduScan</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
